.text-casing{
    color:rgb(16, 119, 76) !important;
}

#header{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}


#main .carousel-inner img{
    max-height: 75vh;
    min-width: 5vh;
    object-fit: cover;
    filter: grayscale(70%);

}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

#carousel .form-registro{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
}


#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a{
    color: white;
}
/* unete */
.card{
    display: flex;
    border: none;
}
.uneteTitle{
    text-align: center;
    margin: 20px;
}
.uneteParrafo{
    text-align: center;
    margin: 40px;

}
.uneteCards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}
.unete img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-self: center;

}
.card-title{
    text-align: center;

}
.card-text{
    text-align: justify;
}
.card-body{
    display: block;
}
.estrellas{
    text-align: center;
}
.boton{
    display: flex;
    justify-content: center;
    margin: 30px;
}
@media (max-width: 576px){
    .uneteCards{
        display: inline-block;
        align-content: center;
    }
    .card{
        margin: 20px;
        position: relative;
        left: 100px;
    }

}
@media (max-width: 360px){
    .card{
        position: relative;
        left: 0;
    }
}